:root {
  --game-font: "VT323";
}
.mini-games-greet {
    align-items: center;
    position: relative;
    display: flex;
    height: 416px;
    font-size: 0.6rem;
}
.princess-img {
    margin-bottom: -90px;
    margin-left: -30px;
    width: 270px;
}
.greeting-box {
    top: -40px;
    right: 90px;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: -1
}
.princess-greeting {
    position: absolute;
    top: 9px;
    left: 30px;
    padding: 0 110px 0 110px;
    font-size: 0.8rem;
    color: #141414;
    font-family: "VT323";
}
.mini-games-link {
    padding: 10px;
}
.mini-games-selection {
  font-family: "VT323";
  display: grid;
  gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-columns: 1fr;
  place-content: center;
  align-items: center;
  border-radius: 10px;
  height: 416px;
}

.mini-game {
  cursor: pointer;
  border: 2px solid pink;
  background-color: pink;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.mini-game:hover {
    background-color: white;
    transform: scale(1.05);
    color: pink;
}
.explore-btn {
  grid-column: span 2;
  text-decoration: none;
  background-color: pink;
  color: white;
  padding: 1em 2em;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.explore-btn:hover {
  transform: scale(1.05);
}
/* doodle jump */
.doodle-jump-container {
    position: relative;
    height: 480px;
  }
  
  .doodle-jump-grid {
    height: 100%;
    font-family: "VT323";
    background-color: #4bff9f;
    background-image: url('../../assets/mini-games/doodle-jump/doodle-jump-bg.png');
    position: relative;
    font-size: 200px;
    text-align: center;
  }
  
  .doodler {
    width: 60px;
    height: 85px;
    position: absolute;
  }
  
  .platform {
    width: 85px;
    height: 15px;
    position: absolute;
  }
  
  .introduction-doodle-jump {
    font-size: 24px;
    font-family: inherit;
    padding: 5px;
    margin: 20px 10px 0 10px;
    color: pink;
    background-color: white;
    border-radius: 10px;
    line-height: 1.5;
  }

  .instructions-doodle-jump {
    color: greenyellow;
  }
  
  .score-doodle-jump {
    font-size: 2rem;
    color: #141414;
    top: 10px;
    text-align: right;
    margin-right: 20px;
  }
/* word search */
.wordsearch-container {
  position: relative;
  height: 480px;
}
.word-search-grid {
  font-family: "VT323";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-search-row {
  display: flex;
}

.word-search-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.word-search-cell.selected {
  background-color: pink;
  color: white;
}


.word-search-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323";
}

.word-search-game button {
  margin-top: 20px;
  font-family: "VT323";
}
.word-search-reset-button {
  margin-top: 10px;
  margin-bottom: 54px;
  background-color: pink;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.word-search-reset-button:hover {
  background-color: rgb(30, 29, 29);
  color: white;
}
/* Sudoku Game */
.game-sudoku {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  background-color: #ccc;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid #1e1d1d;
}

.sudoku-row {
  display: contents;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  background-color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-family: var(--game-font);
}

.sudoku-cell.highlight {
  background-color: #e6e6e6;
}

.sudoku-cell.selected {
  background-color: pink;
}

.solve-button {
  font-family: var(--game-font);
  margin-top: 15px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: pink;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.solve-button:hover {
  background-color: blue;
  color: white;
}

/* 2048 Game */
.game-2048-container {
  font-family: 'Poppins', 'open-sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #faf8ef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.score {
  font-size: 1.5em;
  color: #776e65;
  margin-bottom: 10px;
  font-family: var(--game-font);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  row-gap: 5px;
  background-color: #bbada0;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.cell {
  width: 100%;
  height: 80px;
  background-color: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.cell-null {
  background-color: #cdc1b4;
}

.cell-2,
.cell-4,
.cell-8,
.cell-16,
.cell-32,
.cell-64,
.cell-128,
.cell-256,
.cell-512,
.cell-1024,
.cell-2048 {
  animation: newTile 0.2s ease-in-out;
}

@keyframes newTile {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.cell-2.merge,
.cell-4.merge,
.cell-8.merge,
.cell-16.merge,
.cell-32.merge,
.cell-64.merge,
.cell-128.merge,
.cell-256.merge,
.cell-512.merge,
.cell-1024.merge,
.cell-2048.merge {
  animation: mergeTile 0.2s ease-in-out;
}

@keyframes mergeTile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.cell-2 {
  background-color: #eee4da;
  color: #776e65;
}

.cell-4 {
  background-color: #ede0c8;
  color: #776e65;
}

.cell-8 {
  background-color: #f2b179;
  color: #f9f6f2;
}

.cell-16 {
  background-color: #f59563;
  color: #f9f6f2;
}

.cell-32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.cell-64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.cell-128 {
  background-color: #edcf72;
  color: #f9f6f2;
}

.cell-256 {
  background-color: #edcc61;
  color: #f9f6f2;
}

.cell-512 {
  background-color: #edc850;
  color: #f9f6f2;
}

.cell-1024 {
  background-color: #edc53f;
  color: #f9f6f2;
}

.cell-2048 {
  background-color: #edc22e;
  color: #f9f6f2;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 10px;
  font-family: var(--game-font);
}

.reset-button {
  margin-top: 14px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #8f7a66;
  color: white;
  
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: var(--game-font);
}

.reset-button:hover {
  background-color: #7a6a5a;
}

a {
  text-decoration: none;
}
